* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


/* Common */
.clear {
    clear: both;
    
}

.text-white{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}
.col-third{
    width: 33.3333%;
}

.pull-right{
    float: right!important;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
    
}
#nav >li> a {
    color: #fff;
    text-transform: uppercase;
}


#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav> li:hover> a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav  {
    min-width:  160px;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 13px;
    font-weight: 700;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 15px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;  
    padding-top: 50%;
    background: url(../img/Map/26313.jpg) top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #ccc;
    width: 100%;    
    text-align: center;
    text-shadow: 0 0 3px #000;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list{
    margin-top: 32px;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* tour section  */
.tour-section{
    background-color: #000;
}

.tickets-list{
    margin-top: 40px; 
    list-style: none;
    background-color: #fff;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* Places */
.places-list{
    margin-top: 16px;
    
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

/* Contact from */
.contact-content{
    margin-top: 48px;
}  

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info a{
    color: rgb(28, 25, 184);
}

.contact-info a:hover{
    opacity: 0.8;
}

.contact-info i[class*='ti-']{
    display: inline-block;
    width: 30px;
}

.contact-form{
    font-size: 15px;   
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map section */
.map-section{
    display: flex;
}

.map-section img {
    width: 100%;
}

/* footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
    animation: colorBackground 20s infinite;
    -webkit-animation: colorBackground 20s infinite;
    -moz-animation: colorBackground 20s infinite;
    -o-animation: colorBackground 20s infinite
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .socials-list a:hover{
    opacity: 0.4;
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.7);
    
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease 1.0s;
}
.modal-header{
    font-size:30px ;
    color: #fff;
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover{
    opacity: 1;
    background-color: #ccc;
    color: #000;
}
.model-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-tickets{
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 0.8;
    color: #000;
}
.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color: #2196F3;
}
.modal-footer a:hover{
    color: rgb(17, 5, 189);
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes colorBackground {
    0% {
     background-color: #f7f7f7;
     color: #fbcf61
    }
    20% {
     background-color: #80cee5;
     color: #6bd57e
    }
    40% {
     background-color: #95e9e9;
     color: #ff6f6f
    }
    60% {
     background-color: #57cff4;
     color: #57cff4
    }
    80% {
     background-color: #0ed4c8;
     color: #0ed4c8
    }
    100% {
     background-color: #f1ede0;
     color: #fbcf61
    }
   }
   @-webkit-keyframes colorBackground {
    0% {
     background-color: #fafafa;
     color: #fbcf61
    }
    20% {
     background-color: #98dada;
     color: #6bd57e
    }
    40% {
     background-color: #4486a0;
     color: #ff6f6f
    }
    60% {
     background-color: #57cff4;
     color: #57cff4
    }
    80% {
     background-color: #0ed4c8;
     color: #0ed4c8
    }
    100% {
     background-color: #3d4e9b;
     color: #fbcf61
    }
   }
   @-moz-keyframes colorBackground {
    0% {
     background-color: #fffefc;
     color: #fbcf61
    }
    20% {
     background-color: #c4d4c7;
     color: #6bd57e
    }
    40% {
     background-color: #a19cdd;
     color: #ff6f6f
    }
    60% {
     background-color: #57cff4;
     color: #57cff4
    }
    80% {
     background-color: #0ed4c8;
     color: #0ed4c8
    }
    100% {
     background-color: #7382d3;
     color: #fbcf61
    }
   }

   /* PC */
   @media (min-width:64em){

   }

   /* Tablet and Mobile */
   @media (max-width: 63.9375em){
       .btn{
           padding: 15px 16px;
       }

       #nav .subnav a{
           padding: 5px 12px;
       }
       .contact-form .form-control{
            padding: 15px;
            font-size: 16px;
       }

       .contact-submit-btn{
           font-size: 16px;
       }

       .contact-info{
           line-height: 2;
       }
       .socials-list{
           font-size: 48px;
       }

       #footer .copyright a{
           padding: 10px 0;
           display: inline-block;
       }
   }
    /* Tablet */
    @media (min-width: 46.25em) and (max-width: 63.9375em){
        .contact-info{
            line-height: 2;
        }

        #footer .socials-list a{
            margin: 0 8px;
        }

        .modal-container{
            margin: 0 17px;
            top: -70px;
        }
    }

   /* Mobile */
@media (max-width: 46.1875em){
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }
    
    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }
    
    #nav > li {
        display: block; 
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    .modal-container{
        margin: 0 10px;
        top: -20px;
    }

    
    #content .member-img{
        width: 60%;
    }

    .contact-form{
        margin-top: 16px;
    }

    .contact-info{
        margin-bottom: 5px;
    }

    #footer .socials-list a{
        margin: 0 4px;
    }

    #slider .text-content {
        bottom: 13px;
    }
    #slider .text-heading{
        font-size: 18px;
    }

    #slider .text-description{
        font-size: 10px;
        margin-top: 8px;
    }

    .modal-header {
        height: 120px;
    }

    .modal-label {
        margin-top: 10px;
    }

    .modal-input {
        margin-bottom: 15px;
    }
}